<ion-header class="headerBackground"  mode="md">
  <ion-toolbar class="headerToolbar" mode="md">
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeapp()">
        <ion-icon name="close-outline"></ion-icon>
          </ion-button>
    </ion-buttons>
    <ion-title class="headerTitle">PAN Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <div class="ion-text-center ion-padding">
      <ion-button color="success" (click)="startTextDetection()" [disabled]="isLoading">
        <ion-spinner *ngIf="isLoading"></ion-spinner>
        <ion-icon name="card-outline" *ngIf="!isLoading"></ion-icon>
        <span class="ion-padding-start" *ngIf="!isLoading">Capture PAN</span>
      </ion-button>
    </div>

    <ion-item *ngIf="extractedText && !error" lines="none" class="ion-margin-bottom">
      <ion-icon 
        [name]="isPanCard ? 'checkmark-circle' : 'close-circle'" 
        [color]="isPanCard ? 'success' : 'danger'" 
        slot="start">
      </ion-icon>
      <ion-label>
        <h2>{{ isPanCard ? 'Valid PAN Card Detected' : 'Not a PAN Card' }}</h2>
      </ion-label>
    </ion-item>

    <ion-card *ngIf="isPanCard && Object.keys(panDetails).length > 0">
      <ion-card-header color="primary">
        <ion-card-title>PAN Card Details</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list lines="full">
          <ion-item *ngIf="panDetails.name">
            <ion-label>
              <h2>Name</h2>
              <p>{{ panDetails.name }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="panDetails.fatherName">
            <ion-label>
              <h2>Father's Name</h2>
              <p>{{ panDetails.fatherName }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="panDetails.dob">
            <ion-label>
              <h2>Date of Birth</h2>
              <p>{{ panDetails.dob }}</p>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="panDetails.panNumber">
            <ion-label>
              <h2>PAN Number</h2>
              <p class="ion-text-uppercase">{{ panDetails.panNumber }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="extractedText">
      <ion-card-header>
        <ion-card-title>Raw Detected Text</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <pre>{{ extractedText }}</pre>
      </ion-card-content>
    </ion-card>

    <ion-text color="danger" *ngIf="error">
      <p class="ion-text-center">{{ error }}</p>
    </ion-text>
  </div>
</ion-content>